{{ define "main" }}
<div class="container mt-auto mt-auto py-3 row">
	<div class="container" style="width: 240px;">
		<div class="p-3 col">
			<ul class="nav nav-pills mb-auto">
				{{ $currentPage := . }}
				{{ range where site.Pages.ByWeight.Reverse "Type" "docs" }}
					<li class="nav-item">
						<a href="{{ .URL }}" class="nav-link">
							{{ .Title }}
						</a>
					</li>
				{{ end }}
			</ul>
		</div>
	</div>
	<div class="col">
		<div>
			<h1>{{ .Title }}</h1>
			{{.Content}}
		</div>
	</div>
</div>
{{ end }}

