{{ define "main" }}
<main class="mt-4 mb-4">
  <div class="row row-cols-1 row-cols-md-1 g-4">
    {{ range where .Site.RegularPages "Section" "in" "blog" }}
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 56rem;">
          <div class="card-body">
            <a href="{{ .Permalink }}"><h5 class="card-title">{{ .Title }}</h5></a>
            <h6 class='card-subtitle text-muted mb-2'>
              {{- if isset .Params "date" -}}
                <time>{{ .Date.Format "January 2, 2006" }}</time>
              {{- end -}}
            </h6>
            <p class="card-text">{{if .Description}}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}</p>
          </div>
        </div>
      </div>
    {{- end }}
  </div>
</main>
{{ end }}
