<footer class="footer mt-auto mt-auto py-3 bg-light row border-top">
	<div class="col mb-3">
	</div>

	<div class="col mb-3">
		<a href="/Hilbish" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
			<img src="/Hilbish/hilbish-logo-and-text.png" alt="" height="48" class="d-inline-block align-text-top" style="margin-left: -20px">
		</a>
		<ul class="nav flex-column">
			<li class="nav-item mb-2"><a href="/Hilbish" class="nav-link p-0 text-muted">Home</a></li>
			<li class="nav-item mb-2"><a href="/Hilbish/docs/faq" class="nav-link p-0 text-muted">FAQ</a></li>
			<li class="nav-item mb-2"><a href="https://github.com/Rosettea/Hilbish" class="nav-link p-0 text-muted">Source</a></li>
			<li class="nav-item mb-2"><a href="https://github.com/Rosettea/Hilbish/releases" class="nav-link p-0 text-muted">Releases</a></li>
			<li class="nav-item mb-2"><a href="/Hilbish/docs" class="nav-link p-0 text-muted">Documentation</a></li>
		</ul>
	</div>

	<div class="col mb-3"></div>

	<div class="col mb-3"></div>
	<div class="col mb-3"></div>
	<div class="col mb-3">
		<p class="text-muted mt-4">
			Rosettea &copy; 2022-2023
			<br>
			Made with <i class="fa-solid fa-heart" style="color: #f6345b;"></i>
		</p>
	</div>

	<div class="col mb-3"></div>
</footer>
