<header>
	<nav class="navbar navbar-expand-md sticky-top bg-light border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="/Hilbish">
				<img src="/Hilbish/hilbish-logo-and-text.png" alt="" height="48">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{{ $currentPage := . }}
					{{ range .Site.Menus.nav }}
						<li class="nav-item">
							<a href="{{ .URL }}" class="nav-link {{ if $currentPage.IsMenuCurrent "nav" . }}active{{ end }}">
								{{ .Name }}
							</a>
						</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</nav>
</header>
