name: Build website

on:
  push:
    branches:
    - master
    tags:
      - v[0-9]+.*
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - name: Set branch name
        id: branch
        run: echo "BRANCH_NAME=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/*/}}" >> "$GITHUB_ENV"
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "26.0.2"
          gleam-version: "1.10.0"
          elixir-version: latest
          rebar3-version: "3"
          # elixir-version: "1.15.4"
      - name: Build Website
        working-directory: ./website
        run: |
          wget https://github.com/tailwindlabs/tailwindcss/releases/latest/download/tailwindcss-linux-x64 -O tailwindcss
          chmod +x tailwindcss
          ./tailwindcss -o ./static/tailwind.css
          gleam deps download
          gleam run -m website
      - name: Deploy
        if: env.BRANCH_NAME == 'master' && github.repository_owner == 'Rosettea'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/public
          keep_files: true
      - name: Deploy
        if: env.BRANCH_NAME != 'master' && github.repository_owner == 'Rosettea'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/public
          destination_dir: versions/${{ env.BRANCH_NAME }}
